@{
    ViewBag.Title = "Check";
    Layout = "_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-600 mb-4">Welcome Back!</h1>
                <h5 class="text-gray-800 mb-5" id="pms">
                    <img src="~/image/登入頁用path.png" id="pathword" />
                    &nbsp;Management System
                </h5>
                @using (Html.BeginForm("checkCaptcha", "AdministratorLogin", FormMethod.Post, new { id = "CaptchaForm", title = "Be Case Sensitive", @class = "form-horizontal user" }))
                {
                    <div>
                        <img src="@Url.Action("getCaptcha")" alt="something wrong" id="Captcha"  class="CaptchaButton"/>
                        <div class="btn-group">
                            <i class="fas fa-sync-alt btn CaptchaButton"></i>
                            <input type="button" value="重新取得驗證碼" class="btn CaptchaButton" />
                        </div>
                        <br />
                        <input id="ValidationCode" name="ValidationCode" type="text" maxlength="6" class="form-control form-control-user" placeholder="Type the word above...." autofocus autocomplete="off" required />
                        <span style="color:red">@ViewBag.CodeErr</span>
                    </div>
                    <input type="submit" value="繼續" class="btn btn-info btn-user btn-block mt-5 mt-lg-4" />
                }
                <hr>
                <div class="text-center small">
                    @Html.ActionLink("返回登入", "Login", "AdministratorLogin")
                </div>
            </div>
        </div>
    </div>
</div>



