@model PathPlus.Models.Comment



    <div class="border-0 form-group row no-gutters">
        <input class="form-control border-0 col-sm-11 " name="comm" id="comm" type="text" placeholder="留言……" />

        <input type="submit" class="form-control border-0 col-sm-1" id="PushCommentButton" value="發怖" />
        @*<input type="hidden" name="MemberID" value="@ViewBag.memberid"/>*@
    </div>

