/*-----------------↓↓↓↓↓↓↓↓以下navbarcss-↓↓↓↓↓↓↓↓↓------------------*/
#container {
    width: 100%
}

#bar {
    width: 100%;
}

#navbar2 {
    width: 100%;
}


#searchbar {
    width: 17%;
    position: absolute;
    margin-left: 30%;
    margin-top:-25px;
    margin-left:20%;
}

#searchbar1 {
    width: 80%;
}

@media (min-width: 992px) and (max-width: 1197px) {
    #searchbar1 {
        width: 60%;
    }
}

@media (min-width: 1px) and (max-width: 991px) {
    #searchbar {
        display: none;
    }
}

#navbarbrand {
    background-color: #ffffff;
}

#personalphoto1 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}



@media (min-width: 1px) and (max-width: 768px) {
    #contentright {
        display: none;
    }
}

#Notifications1 {
    position: absolute;
    z-index: 100;
    margin-left: -12px;
    margin-top: -5px;
}

#Notifications2 {
    position: absolute;
    z-index: 100;
    margin-left: -12px;
    margin-top: -8px;
}

#Notifications3 {
    position: absolute;
    z-index: 100;
    margin-left: -12px;
    margin-top: -8px;
}

/*-----------------↑↑↑↑↑↑↑以上navbarcss↑↑↑↑↑↑↑----------------*/

/*----------控制內文與navbar距離--------------*/
#HomeContainer{
    margin-top:8%;
}

@media (min-width: 991px) and (max-width: 1450px) {
    #HomeContainer {
        margin-top: 12%;
    }
}

@media (min-width: 1px) and (max-width: 768px) {
    #HomeContainer {
        margin-top:30%;
    }
}
/*----------控制內文與navbar距離--------------*/

#contentrightup {
    height: 150px;
    margin-top: 20px;
}

#post {
    cursor: pointer;
}

#like {
    cursor: pointer;
    z-index: 50;
}

#like1 {
    cursor: pointer;
    z-index: 10;
}


#Text1 {
    width:80%;
    height: 150px;
}

#TextArea1 {
    width: 80%;
    height: 100px;
}

.width {
    width: 30px;
}


.width1 {
    width: 40px;
}

.personalphoto {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.publicphoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




.marginBottom-0 {
    margin-bottom: 0;
}


     /*刪除dropdown箭頭*/
    .caret-off::before {
        display: none;
    }

    .caret-off::after {
        display: none;
    }

#personalphoto2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#contentright {
    width: 285px;
    height: 800px;
    position: absolute;
    margin-left: 855px;
}

#contentrightup {
    height: 150px;
    margin-top: 20px;
}

#publicphoto1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




/*-------------子菜單---------------*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
      
    }
/*-------------子菜單---------------*/




#cross1, #cross2, #cross3, #cross4, #cross5 {
    display: none;
}


#PhotoFile1, #PhotoFile2, #PhotoFile3, #PhotoFile4, #PhotoFile5 {
    display: none;
}

#prephoto1, #prephoto2, #prephoto3, #prephoto4, #prephoto5 {
    display: none;
}

#uploadphoto {
    width:480px;
    max-height: 190px;
    overflow-x: scroll;
}

/*---------限制照片大小(社團主頁)------------*/


 @media (min-width: 1180px) and (max-width: 2000px) {
    .Xlarge {
        width: 70%;
        height: 400px;
        margin-left: 160px
    }  
 }
@media (min-width: 990px) and (max-width: 1179px) {
    .large {
        width: 70%;
        height: 400px;
        margin-left: 130px
    }
}
@media (min-width: 500px) and (max-width: 989px) {
    .medium {
        width: 70%;
        height: 300px;
        margin-left: 90px
    }
}
@media (min-width:400px) and (max-width: 499px) {
    .smedium {
        width: 70%;
        height: 260px;
        margin-left: 60px
    }
}
@media (min-width: 200px) and (max-width: 399px) {
    .smalll {
        width: 50%;
        height: 100px;
        margin-left: 40px
    }
}


/*---------限制照片大小(社團主頁)------------*/