@model PathPlus.Models.Group
@{
    ViewBag.Title = "社團名稱重複";
}

<h2>社團名稱重複</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
