
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div id="container" class="container text-secondary">
    <div class="card mt-4">
        <div class="row">
            <div class="col-md-5">
                <img class="rounded mx-auto d-block border-0 " width="400" src="~/image/path字.jpg" />
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h2 class="card-title">開發理念</h2>
                    <h4 class="card-text">
                        近年社群平台的蓬勃發展，大大改變了人們的溝通方式甚至是日常生活，舉凡打卡分享、直播、粉絲團等社群互動模式，都與早期不同。本系統加入隨機交友、分類地圖、代購、社群招募、用戶生成內容等功能，增加有用性與有趣性。
                        希望取出各個社群網站中較具代表性或者較為人欣賞的部分，製作出一款具實用、時尚的網站。。

                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="row">
            <div class="col-md-7">
                <div class="card-body">
                    <h2 class="card-title">介面特色</h2>
                    <h4 class="card-text">
                        <span>以簡單乾淨的畫面,吸引USER使用</span>

                        <span>主打年輕族群</span>

                        <span>增加社交功能</span>
                    </h4>
                </div>
            </div>
            <div class="col-md-5">
                <img width="500" src="~/image/主頁面截圖.JPG" />
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="row">
            <div class="col-md-5">
                <img width="400" src="~/image/極限運動(about).jpg" />
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h2 class="card-title">分享生活</h2>
                    <h4 class="card-text">
                        分享你的各種日常生活，美食、旅遊、資訊、電視與電影、建築與裝潢，你想的到的日常生活都可以放上來與您的朋友一起分享。
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="row">
            <div class="col-md-7">
                <div class="card-body">
                    <h2 class="card-title">更多趣味性</h2>
                    <h4 class="card-text">
                        新增了抽卡功能，在每天午夜12點更新卡片，每天都能隨機抽取到不同的會員，增加互相交流的機會，若有興趣，不要害怕，大膽的按下"喜歡"按鍵，互相喜歡後你們即可開始聊天，及進行更深度的交流。

                    </h4>
                </div>
            </div>
            <div class="col-md-5">
                <img width="500" src="~/image/抽卡頁面圖(about).JPG" />
            </div>
        </div>
    </div>



</div>
<footer class="mastfoot mt-auto">
    <div class="row justify-content-center align-items-sm-center"><a href="@Url.Action("Index", "Login")" class="logo"><img src="~/image/登入頁用path.jpg" /></a></div>
</footer>