
@{
    ViewBag.Title = "Contant";
}

<h2>Contant</h2>

<div class="container">
    <div class="row">
        <div id="contant" class=" align-items-md-center">
            <div><h1> PATH PLUS GROUP </h1></div>
            <h4>
                Redmond, WAHAHA
            </h4>
            <h4>
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </h4>
            <h3 class="card-text">

                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </h3>
        </div>
    </div>
</div>
<footer class="mastfoot mt-auto">
    <div class="row justify-content-center align-items-sm-center"><a href="@Url.Action("Index", "Login")" class="logo"><img src="~/image/登入頁用path.jpg" /></a></div>
</footer>
