@*---------------以下發文彈窗頁面---------------*@
<form method="post" action="@Url.Action("NewPost")">

    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">說點什麼</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="dialog" class="none">
                        <div id="dialog-wrapper">
                            <div class="dialog-content">
                                @*----放上傳照片的區塊----*@
                                <div>
                                    點我上傳照片
                                </div>
                                @*----放上傳照片的區塊----*@
                                <div class="form-group">
                                    <textarea class="form-control" name="Pcontent" id="Text1" type="text" required placeholder="請輸入內容"></textarea>
                                </div>
                                <div class="">
                                    <div class="row form-inline mt-1">
                                        <div class="h5">貼文類別</div>
                                        <div class="form-group col-6">
                                            <select id="CID" name="CID" class="form-control">
                                                <option value="0">幽默</option>
                                                <option value="1">建築與裝潢</option>
                                                <option value="2">旅遊</option>
                                                <option value="3">美食</option>
                                                <option value="4">藝術</option>
                                                <option value="5">大自然</option>
                                                <option value="6">時尚</option>
                                                <option value="7">電視與電影</option>
                                                <option value="8">音樂</option>
                                                <option value="9">動畫</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-inline mt-1">
                                        <div class="h5">隱私狀態</div>
                                        <div class="form-group col-6">
                                            <select id="SCID" name="SCID" class="form-control">
                                                <option value="0">開放</option>
                                                <option value="1">半開放(限粉絲可看到)</option>
                                                <option value="2">隱藏</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-secondary mr-2 ml-auto" data-dismiss="modal">取消</button>
                                        <input type="submit" value="張貼" class="btn btn-primary " />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>
@*---------------以上發文彈窗頁面---------------*@