
@{
    ViewBag.Title = "Terms";
}

<h2>Terms</h2>


<h2>使用條款</h2>
<h3>歡迎使用 Path+！</h3>

    本使用條款規範您的 Path+ 使用行為，並提供 Path+ 服務的相關資訊，詳情如下所述。若建立 Path+ 帳號或使用 Path+，即表示您同意本條款。

<div class="card mt-4">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab">
            <li class="nav-item">
                <a class="nav-link active" href="#tab1" data-toggle="tab">Path+ 服務</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-toggle="tab">資料政策</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-toggle="tab">聲明</a>
            </li>

        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="card-body tab-pane show active fade" id="tab1">
            <h4 class="card-title">我們同意提供您 Path+ 服務，包括所有 Path+ 產品、功能、應用程式、服務、技術和軟體，以達成 Path+ 的使命，拉近您與喜愛的人事物之間的距離。Path+ 服務係由下列面向組成（下稱「本服務」）：</h4>
            <div class="card-text">
                <ul>
                    <li>
                        讓用戶依個人喜好建立內容、與他人聯繫交流、發掘新事物和分享資訊。
                        每個人都有所不同，我們希望透過您所重視並分享的經驗，強化您與他人之間的關係。因此，我們打造的系統旨在瞭解您和其他用戶關心的人事物，並運用該等資訊來協助您建立、找到、參與和分享對您而言重要的體驗，包括挑選出您可能感興趣的內容、功能、優惠和帳號，並根據您和其他用戶在 Path+ 與其他網路空間的行為，為您提供各種體驗 Path+ 服務的方式。
                    </li>
                    <li>
                        營造正面、包容且安全的使用環境。
                        我們開發並運用各種工具，為社群成員提供所需資源，包括在我們認為成員可能需要協助時，向其提供協助，使其獲得兼容並蓄的正面體驗。我們也建立相關團隊和系統，專門處理濫用、違反使用條款及政策等情事，以及有害及詐欺的行為。我們會使用所有手邊既有的資料（包含您的資料），盡力維護平台安全。
                    </li>
                    <li>
                        開發並使用新技術，使我們為不斷茁壯的社群持續提供服務。
                        為日益壯大的社群整理並分析資訊，是本服務的核心所在。本服務的一大重點，在於開發並使用尖端技術，使我們為遍及全球的廣大社群，大規模個人化、保護及改善我們的服務。人工智慧和機器學習等技術，使我們能將複雜的程序應用在各項服務中，自動化技術則幫助我們確保本服務之功能及完整。
                    </li>
                    <li>
                        研究與創新。
                        我們會運用既有資料來分析本服務，並與他人合作研究，一同提升本服務之品質，為我們的社群創造福祉。
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body tab-pane fade" id="tab2">
            <h4 class="card-title">為向您提供本服務，我們必須蒐集您的資料。本資料政策說明我們如何在 Path+ 產品間蒐集、使用和分享資料，並說明您可以透過哪些方式控管資料，例如調整 Path+ 隱私設定和帳號安全設定。 您必須同意資料政策，才能使用 Path+。</h4>
            <div class="card-text">
                <div>您的承諾</div>
                <div>若要使用我們承諾提供的服務，您也必須承諾遵守以下事項。</div>
                <div>誰可以使用 Path+。 我們希望盡力營造開放包容的服務環境，同時兼顧安全可靠與法規遵循。因此，加入 Path+ 社群之前，請您務必確認自身符合以下條件。</div>
                <ul>
                    <li>您必須年滿 13 歲，或達到您所在國家／地區法律規定可使用 Path+ 的最低年齡。</li>
                    <li>依適用法律規定，您必須有權使用我們的任何服務；如果您名列適用的拒絕往來對象名單，將無法使用我們的付款服務。</li>
                    <li>您先前並未因違反法律或我們的任何政策，而遭我們停用帳號。</li>
                    <li>您不得為經判決有罪之性罪犯。</li>
                </ul>
                <div>您遭禁止使用 Path+ 之情況。 我們必須同心協力，才能為廣大社群用戶共創安全開放的服務。</div>
                <ul>
                    <li>請勿冒充他人或提供錯誤資訊。</li>
                </ul>
                <div>您不必在 Path+ 揭露自己的身分，但必須向我們提供正確且即時的資訊（包括註冊資訊）。此外，您亦不得冒充他人，或是未經他人明確同意即為其建立帳號。</div>
                <ul>
                    <li>不得進行任何違法、誤導或詐欺的行為，亦禁止為達成非法或未經授權之目的而從事的一切行為。</li>

                    <li> 不得違反（或是協助或勸誘他人違反）本條款或我們的政策，尤其是 Path+ 社群守則、Path+ 開放平台政策和音樂使用準則。 若要瞭解如何檢舉違規行為或內容，請參閱使用說明。</li>
                    <li>請勿以任何方式干擾或損害本服務之正常運作。</li>
                    <li> 請勿嘗試透過未經授權的方式建立帳號，或是存取或蒐集資訊。</li>
                </ul>
                <div>未經我們明確同意，亦不得透過自動化的方式建立帳號或蒐集資訊。</div>
                <ul>
                    <li>請勿嘗試購買、販售或移轉您帳號的任何部分（包括用戶名稱），亦不得徵求、蒐集或使用其他用戶的登入憑證或標章。</li>
                    <li>請勿發佈私密或機密資訊，或進行任何侵犯他人權利（包括智慧財產權）的活動。</li>
                </ul>
                <div>請點擊這裡瞭解詳細資訊，包括如何投訴侵犯您智慧財產權的內容。</div>
                <ul>
                    <li>未經我們事先書面同意，您不得在自己的用戶名稱中使用網域名稱或網址。</li>
                </ul>
                <div>您授予我們的權限。 根據本協議內容，您亦授予我們提供本服務時所需的權限。</div>
                <ul>
                    <li>我們對您提供的內容並無所有權，但您授予我們使用該內容的權限。</li>
                </ul>
                <div>您對您相關內容之所有權不受影響。我們對您在本服務或透過本服務發佈的內容並無所有權。 當您在我們的服務或相關平台上分享、發佈或上傳受智慧財產權保障的內容（例如相片或影片）時，即表示您授予我們非專屬、免權利金、可轉讓、可轉授權的全球授權，可以託管、使用、散佈、修改、執行、複製、公開表演或展示、翻譯您的內容，以及根據您的內容創作衍生作品（須符合您的隱私和應用程式設定）。您可以隨時刪除您的內容或帳號，以結束此授權。不過，若您曾與他人分享您刪除的內容，而您所分享對象並未將其刪除，則該內容仍可能會持續出現。若要深入瞭解我們使用資料的方式，以及如何控管或刪除您的內容，請參閱資料政策和瀏覽 Path+ 使用說明。</div>
                <ul>
                    <li>您的用戶名稱、大頭貼照和社群關係資訊的使用權限，以及您對帳號、廣告和贊助內容所採取之動作資訊的使用權限。</li>
                </ul>
                <div>您允許我們將您的用戶名稱、大頭貼照以及有關您動作（例如按讚）與社群關係（例如追蹤）的資訊，顯示在於 Facebook 產品呈現、且您追蹤或點擊的帳號、廣告、優惠和其他贊助內容旁邊或相關位置，且不必提供您任何報酬。舉例來說，若某個品牌付費在 Path+ 刊登廣告，而您對該品牌撰寫的贊助貼文按讚，我們得顯示您曾對該則貼文按讚。如同您對其他內容採取動作和追蹤其他帳號，若您對贊助內容採取動作和追蹤贊助帳號，只有有權查看或追蹤該內容的用戶可以看到相關資訊。我們也會尊重您的廣告設定。若要深入瞭解廣告設定，請見這裡。</div>
                <ul>
                    <li>您同意我們得在您的裝置下載並安裝本服務的更新內容。</li>
                </ul>

                <div></div>我們保留的其他權利
                <ul>
                    <li>如果您為您的帳號選擇用戶名稱或類似的識別資料，在我們判定為適當或必要的情況下（例如該資料侵犯他人的智慧財產權或冒充其他用戶），我們得變更該項資料。</li>
                    <li>如果您使用的內容屬於我們所擁有之智慧財產權涵蓋的範圍，且該智慧財產權在本服務中提供（例如您建立或分享內容時，加入我們提供的圖像、設計、影片或音效），我們將保留對該內容（不包括您自有內容）的所有權利。</li>
                    <li>您必須經過我們品牌使用準則的明確允許或事先取得我們的書面同意，才能使用我們的智慧財產和商標（或相似標記）。</li>
                    <li>您必須取得我們的書面同意或在開放原始碼授權許可下，才能修改、創造衍生作品、反編譯或以其他方式嘗試擷取我們的原始程式碼。</li>
                </ul>
                <div></div>移除內容，並將您的帳號停用或停權
                <ul>
                    <li>如果我們認為您在本服務中分享的任何內容或資訊違反了本使用條款、我們的政策（包括 Path+ 社群守則），或我們依法可以或必須執行，我們得移除這些內容或資訊。在下列情況下，我們得拒絕或立即停止向您提供全部或部分服務（包括將您的帳號永久停權或暫時停用），以保護我們的社群或服務：您使我們暴露在風險和法律問題當中；您違反本使用條款或我們的政策（包括 Path+ 社群守則）；您一再侵害他人的智慧財產權；或我們依法可以或必須停止向您提供服務。若我們將您的帳號暫時停用或永久停權，我們會於適當時通知您。如果您認為將帳號停權的處置有誤，或您希望停用或永久刪除帳號，請參閱我們的使用說明。</li>
                    <li>我們會將您所刪除內容的備份副本保留一定時間；若有人分享該內容，其他用戶仍然能夠查看。本段與下方「我們的協議與發生爭議時的處理方式」一節，在您的帳號終止或刪除後依然適用。</li>
                </ul>
                <div></div>我們的協議與發生爭議時的處理方式
                <div></div>我們的協議。
                <ul>
                    <li>您在本服務中使用音樂時，亦須遵守我們的音樂使用準則；使用 API 時須遵守開放平台政策。如果您使用其他某些功能或相關服務，我們將提供您附加條款，而該等條款亦將成為我們協議之一部分。例如，如果您使用付款功能，我們會要求您同意社群付款條款。若任何該等條款與本協議內容有所牴觸，則以該等其他條款為準。</li>
                    <li>本協議如有任何條款無法執行，其餘條款仍為有效</li>	。
                    <li>對本協議的任何修訂或放棄必須以書面提出，並經我們簽署。如果我們未執行本協議的任何條款，並不會被視為放棄任何權利。</li>
                    <li>我們保留所有未明確授予您的權利。</li>
                </ul>
                <div></div>本協議授予權利的對象。
                <ul>
                    <li>本協議並未將權利授予任何第三方。</li>
                    <li>未經我方同意，您不得移轉本協議之權利或義務。</li>
                    <li>我方的權利和義務得移轉予他人。例如，若我方的所有權變更（例如合併、收購或出售資產），或依法律要求而變更時，權利、義務便可能移轉。</li>
                </ul>
                <div></div>發生問題時的責任方。
                <ul>
                    <li>我們的服務係「依現狀」提供，因此我們無法保證服務的運作一定安全、可靠，或絕對不會故障。在法律所允許的範圍內，我們亦明確聲明不負任何明示或默示之擔保責任，其中包括適銷性、特定用途的適用性、所有權及非侵權等默示擔保。</li>
                    <li>我們無法控制其他用戶的言行，因此我們對他們（或您）的動作或行為（無論線上或離線）及分享的內容（包括違法和其他令人反感的內容）概不負任何責任。我們對其他用戶或公司提供的服務和功能概不負責，即使您透過我們的服務使用該等服務及功能亦然。</li>
                    <li>對於本服務中所發生之任何情事，我們的責任僅限於法律所要求的範圍內（亦稱「責任」）。若我們的服務發生問題，我們無法掌握所有可能的影響。您同意我們對於任何損失的利益、收益、資訊或資料，以及因本條款所生或相關的任何衍生、特殊、間接、懲戒性、懲罰性或附帶性損害，概不負責，即便在我們已得知可能發生該等損害的情況下亦然。我們刪除您的內容、資料或帳號時，亦適用本條件。</li>
                </ul>
                <div>發生爭議時的處理方式。</div>

                <div>如果您是消費者，您與我們之間因本條款所生或相關的任何索賠、訴訟原因或爭議（下稱「索賠」），皆適用您所居住國家／地區的法律，而且您也可以尋求該國家／地區具有相關管轄權的管轄法院解決索賠事宜。在其他狀況下，您同意只能在美國北加州地區的地區法院或位於聖馬刁郡（San Mateo County）的州立法院解決索賠事宜。您也同意基於提出所有這類索賠的目的，服從上述法院的個人管轄權，且本條款與任何索賠一律受加州法律所規範，縱使與法律條款牴觸時亦同。</div>

                <div>主動提供的資料。</div>
            </div>
        </div>
        <div class="card-body tab-pane fade" id="tab3">
            <h4 class="card-title"></h4>
            <p class="card-text">

            <p>
                我們一向樂意聽取意見回饋或其他建議，但我們得任意使用這些內容，且無須向您提供任何報酬，對相關內容亦無保密義務。
                更新本條款
            </p>
            <p>
                本服務和政策可能時有變更，因此我們可能須修改本條款，以確實反映服務與政策內容。除法律另有規定者外，我們會於變更本條款內容前事先通知您（例如透過本服務等管道），讓您可在變更內容生效前審閱相關條款。若您在變更生效後，仍繼續使用本服務，即表示您願意受新修訂的條款內容約束。如果您不同意本條款或任何新版條款，可以到這裡刪除帳號。
            </p>
            <p>修訂：2020 年  5 月 19 日</p>
        </div>
    </div>
</div>














<footer class="mastfoot mt-auto">
    <div class="row justify-content-center align-items-sm-center"><a href="@Url.Action("Index", "Login")" class="logo"><img src="~/image/登入頁用path.jpg" /></a></div>
</footer>
